



   {{ 'head.css' | asset_url | stylesheet_tag }}


  <div class="announcement">
    <h1>FREE SHIPPING OVER $99</h1>
  </div>
  
  <header class="header" style="background-color: {{ settings.head }};">
  <nav class="navbar">
    <ul class="nav-links">
      <li>
        <img src="{{ 'logo2.png' | asset_url }}" alt="logo" class="logo-img">
      </li>
      {% for link in linklists.main-menu.links %}
        <li>{{ link.title | link_to: link.url }}</li> 
        
      {% endfor %}
      <li class="cart-link">
        <a href="/cart">
          <i class="fas fa-shopping-cart fa-2x cart-icon"></i>
          <span class="cart-value" id="cart-value">{{ cart.item_count }}</span>
        </a>
      </li>
    </ul>
  </nav>
  {% if settings.show_search %}
    <form action="/search">
      <input type="search" name="q" placeholder="Search item.." />
      <button type="submit">Search</button>
    </form>
  {% endif %}
</header>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var addToCartButton = document.querySelector('.add-to-cart');
    var cartValueElement = document.getElementById('cart-value');
    
    addToCartButton.addEventListener('click', function() {
      var currentValue = parseInt(cartValueElement.innerText);
      var newValue = currentValue + 1;
      cartValueElement.innerText = newValue;
    });
  });
</script>


