{{'product.css' | asset_url | stylesheet_tag}}

{% capture current_price %}
{% assign price = product.price %}
{% assign discount_rate = 0.1 %}
{% assign discount_price = price | times: discount_rate %}
{% assign current_price = price | minus: discount_price %} 
{{current_price}}
{% endcapture %}
<div class="product-page">
    <div class="product-image">

      <a href="{{ product.url }}" class="product-link">
        <img src="{{ product.featured_image | image_url: width: 400 }}" alt="{{ product.title }}" />
      </a>
      
    </div>
    <div>
    </div>
    <div class="product-details">
      <h1>{{ product.title }}</h1>
      <p> 
     <span class="previous-price"> BDT: {{ product.price | times:1.0 }} </span>
     <span class="current-price"> BDT: {{ current_price }}
    
    </p>
      <div class="quantity">
        <button class="quantity-btn minus">-</button>
        <input type="number" class="quantity-input" value="1" min="1">
        <button class="quantity-btn plus">+</button>
       
      </div>
      <form action="/cart/add" method="post">
        <select name="id">
          {% for variant in product.variants %}
            <option value="{{ variant.id }}">
              {{ variant.title }}
            </option>
          {% endfor %}
        </select>
        <button type="submit" class="add-to-cart">{{ "General.add_to_cart" | t }}</button>
      </form>
      <div class="description">
        {{ product.description }}
      </div>
    </div>
  </div>
  
  

  <script src="{{ 'product_Quantity.js' | asset_url }}"></script>